/* GENERAL */

hr {
  border: 0.5em solid #ff8e00;
}

a {
  text-decoration: none;
  color: black;
}

/* HEADER */
h1 {
  font-family: "Black Han Sans";
  margin: 0;
  padding: 0.5em;
  padding-bottom: 0.1em;
}

.topnav>p {
  margin: 0em;
  padding-left: 1em;
}

.topnav {
  grid-area: 1 / 1 / span 1 / span 2;
  background: #bf1616;
  margin: 0em;
  padding: 0em;

}

.descrip {
  grid-area: 2 / 2 / span 1 / span 1;
  margin: 25%;
  width: 25em;
  height: 15em;
  background-color: #fffbf0;
  -webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
  -moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
  box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

#signup,
#login {
  color: black;
}

.descrip>p {
  margin: 1em;
}

/* SEARCHBOX */
.searchbox {
  grid-area: 2 / 1 / span 1 / span 1;
  margin-top: 15%;
  margin-left: 25%;
  width: 26em;
  height: 22em;
  background-color: #fffbf0;
  -webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
  -moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
  box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

.searchbox>h2 {
  margin: 1em;
}

input {

  font: 400 13.3333px Arial;

}


.searchbox form * {
  margin: 0.1em;
  padding: .4em;
}

#searchbuttom {}

/* BODY */

body {
  margin: 0em;
  background-image: url("../1334321.png");
  background-color: #fffbf0;
}

.wrapper {
  display: grid;
  min-height: calc(100vh - 3em);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6em 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

/* FOOTER */
#footer {
  height: 1em;

  padding: 1em;
  color: white;
  text-align: right;
  color: black;
  text-decoration: none;
}



.overlay {
  position: fixed;
  display: none;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, .75)
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  right: 28px;

}

p>a {
  cursor: pointer;

}


a:hover {
  border: 1px solid;
}

/* The popup form - hidden by default */
.auth-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 3px solid #f1f1f1;
  z-index: 100;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #d4d4d4;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
  background-color: rgb(161, 161, 161);
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}


/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}