/* GENERAL */
:root {
	--main-color: #bf1616;
	--hr-bar: #ff8e00;
	--bg-color: #fffbf0;
}
.topnav > hr {
	border: 0.5em solid var(--hr-bar);
}

a {
	text-decoration: none;
	color: black;
}

/* HEADER */
h1 {
	font-family: "Black Han Sans";
	font-size: 3em;
	margin: 0;
	padding: 0.2em;
	padding-bottom: 0.1em;
}

.topnav>p {
	margin: 0em;
	padding-left: 1em;
}

.topnav {
	z-index: 5;
	position: fixed;
	width: 100%;
	height: 7em;
	background: var(--main-color);
	margin: 0em;
	padding: 0em;
}
.topnav-wrapper{
	height: 7em;
}
.descrip {
	position: relative;
	background-color: var(--bg-color);
	width: 25em;
	height: 15em;
	padding: 1em;
	background-color: var(--bg-color);
	-webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	-moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

#signup,
#login {
	color: black;
}

.mainPage * {
	margin: 1em 3em;
}
.mainPage {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	justify-content: center;
	padding: 3em;
}

.descrip>p {
	margin: 0em;
}

/* SEARCHBOX */
.searchbox {
	width: 26em;
	height: 22em;
	background-color: var(--bg-color);
	-webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	-moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

#searchInput {
	display: grid;
	grid-template-columns: 50% 50%;
}

#searchInput>form>label {
	grid-column-start: 1;
	grid-column-end: 1;
}

.searchbox>h2 {
	margin: 1em;
}

input {
	font: 400 13.3333px Arial;
}

.searchbox form * {
	margin: 0.1em;
	padding: 0.4em;
}

#searchbuttom {
	background-color: var(--main-color);
	grid-column-start: 2;
	margin-left: 55%;
	color: white;
	padding: 16px 0px;
	border: none;
	cursor: pointer;
	width: 40%;
	opacity: 1;
}

/* BODY */

body {
	margin: 0em;
	background-image: url("../1334321.png");
	background-color: var(--bg-color);
	width: 100%;
}

.wrapper {
	position: relative;
	width: 100%;
}

/* FOOTER */
.footer hr {
	margin: 0em;
	/* position: relative;
	top: 0em;
	/* width: 100%; */
	border: 0.5em solid var(--hr-bar); 
}
.footer {
	position: fixed;
	bottom: 0em; 
	height: 3em;
	width: 100%;
	color: white;
	text-align: right;
	color: black;
	text-decoration: none;
	background-color: var(--main-color);
}
.footer .footerinfo {
	position: relative;
	margin: .3em;
	margin-right: 1em;
}
.overlay {
	position: fixed;
	display: none;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.75);
}

.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: absolute;
	right: 1em;
	top: 1em;
	width: 8em;
	height: 3em;
}

p>a {
	cursor: pointer;
}

a:hover {
	border: 1px solid;
}

/* The popup form - hidden by default */
.auth-popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border: 3px solid #f1f1f1;
	z-index: 100;
}

/* Add styles to the form container */
.form-container {
	max-width: 300px;
	padding: 10px;
	background-color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
	width: 90%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #d4d4d4;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
	background-color: rgb(161, 161, 161);
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #4caf50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom: 10px;
	opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
	opacity: 1;
}

.profile h2 {
	width: 10em;
}
.profile {
	background-color: var(--bg-color);
	display: block;
	
	width: 40%;
	min-width: 30em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 5em; 
	height: 104%;
	-webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	-moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

.profile * {
	margin: auto;
}
.profile img {
	-webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	-moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

.profile i {
	
}

.userInfo {

}

.reservation {
	display: flex;
	width: 90%;
	height: 95px;
	background-color: var(--bg-color);
	-webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	-moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	padding: 0.2em;
	margin: 0.1em;
}

.reservation img {
	position: relative;
	left: 50%;
}

.reservationInfo {
	margin: .3em;

}

.reservationInfo>label:nth-child(1) {
	font-weight: bold;
	font-size: 1.2em;

}

.reservationInfo>br:nth-child(2) {
	display: block;
	margin: .6em;
}

.reservationInfo>label {
	font-weight: bold;
}

/* ROOM FORM */
.roomForm {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,5%);
	min-width: 30rem;
	width: 30rem;
	padding: 1em;
	background-color: var(--bg-color);
	-webkit-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	-moz-box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
	box-shadow: 0px -2px 5px 2px rgba(161, 161, 161, 0.51);
}

.roomForm h2 {
	position: relative;
	margin:1em;
}
.roomForm * {
	margin: .5em;
}

.roomForm form {
	margin:1em;
}
#roomForm > input:nth-child(2){
	margin-left: 8.59em;
	width: 18em;
}
#roomForm > input:nth-child(5){
	margin-left: 6em;
	width: 18em;
}
#roomForm > input:nth-child(8) {
	margin-left: 2.28em;
	width: 18em;
}
#roomForm > input:nth-child(11){
	width: 18em;
}
#roomForm > textarea:nth-child(20){
	margin-top: 0em;
	min-width: 35em;
	width: 35em;
	max-width: 35em;
	height: 15em;
}
